<div class="section about1s">
    <div class="indented-container">
	<span>
        <h1>
            Тебе нужно участвовать, если ты:
        </h1>i
        <ul>
            <li>
                Инженер;
            </li>
            <li>
                Программист;
            </li>
            <li>
                Дизайнер;
            </li>
            <li>
                У тебя есть идея, которая перевернет мир!
            </li>
        </ul>
        <p>
            Мы ждём участников любого возраста и из любого уголка вселенной.
        </p>
	</span>
    </div>
</div>
