<div class="section about1s">
    <div class="indented-container">
	<span>
        <h1>
           <span> Тебе нужно участвовать, если ты: </span>
        </h1>
        <ul>
	
            <li>
	 	<span>	
                Инженер;
		 </span>
            </li>
            <li>
		 <span>
                Программист;
		 </span>
            </li>
            <li>
		 <span>
                Дизайнер;
		 </span>
            </li>
            <li>
		 <span>
                У тебя есть идея, которая перевернет мир!
		 </span>
            </li>
        </ul>
	</span>
	
        <p>
	 <span>
            Мы ждём участников любого возраста и из любого уголка вселенной.
 	</span>
        </p>
	</span>
    </div>
</div>
