<div id="about5" class="section light text-center">
    <div class="indented-container">
        <h1>
            Когда?
        </h1>
        <p>
            20-22 ноября 2015 года
        </p>
        <h1>
            Где?
        </h1>
        <p>
            Хаб-кафе, Ульяновск, ул. Железной Дивизии, 5Б ("Спартак", 2 этаж).
        </p>
        <h1>
            Цена вопроса
        </h1>
        <p>
            200 рублей.
        </p>
        <p>
            В стоимость включено питание на площадке, необходимое оборудование, инструмент и расходные материалы
        </p>
    </div>
</div>
