<div class="section dark-about">
    <div class="indented-container">
        <div class="col-md-6">
            <h1>
                О Хардатоне
            </h1>
            <p class="text-justify">
                На небесах только и разговоров, что об Интернете Вещей!
            </p>
            <p class="text-justify">
                Хардатон — это почти как Хакатон, только с «железом». 48 часов участники проекта создают рабочие прототипы устройств и сервисов в сфере Интернет Вещей. 48 часов энергичного буйства и страдания.

            </p>
            <p class="text-justify">
                Это уникальная возможность поработать с профессиональным оборудованием, реализовать свои самые смелые идеи, найти единомышленников и пообщаться с экспертами сферы электроники и программирования в неформальной обстановке на территории Сколково!
            </p>
            <p class="text-justify">
                Итак, если ты полон амбиций, вынослив и готов работать в режиме нон-стоп, то мы ждём тебя на Хардатоне!
            </p>
        </div>
        <div class="col-md-6"><h1>Мы предлагаем:</h1>
            <p class="text-justify">
                <ul>
                    <li>
                        Оборудованные рабочие места
                    </li>
                    <li>
                        Измерительное оборудование
                    </li>
                    <li>
                        3D-принтеры
                    </li>
                    <li>
                        Лазерные резаки
                    </li>
                    <li>
                        Радиодетали и комплектующие
                    </li>
                    <li>
                        Arduino, Raspberry Pi, esp8266
                    </li>
                    <li>
                        И многое другое, необходимое для плодотворной
                        работы над прототипом устройства
                    </li>
                </ul>
            </p>
            <p class="text-justify">Для участников Хардатона будет организовано питание на протяжении всего мероприятия.
                Будет комфортное место и для сна. Как минимум, тёплые спальные мешки, пуфы и прочие удобства. Но, как показывает практика, сон во время Хардатона — явление редкое и не всегда обязательное.
            </p >
        </div>
    </div>
</div>
