<div id="about5" class="section light text-center">
    <div class="indented-container">
        <h1>
            Когда?
        </h1>
        <p>
            21-23 апреля 2017 года
        </p>
        <h1>
            Где?
        </h1>
        <p>
				<script type="text/javascript" charset="utf-8" async
								src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=6RNxsTm4AdfP6wrJzDLFXCP3YGyoriYf&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>

        </p>
    </div>
</div>
