<div id="about5" class="section about3s">
    <div class="indented-container">
	<span>
        <h1>
            Что тебя ждет?
        </h1>
        <ul>
            <li>
                Оборудование для реализации твоей идеи;
            </li>
            <li>
                Опытные инженеры, которые помогут советом;
            </li>
            <li>
                Образовательная программа;
            </li>
            <li>
                Атмосфера инженерного безумства;
            </li>
            <li>
                Полноценное питание;
            </li>
            <li>
                Крепкий кофе;
            </li>
            <li>
                Сюрпризы от организаторов;
            </li>
        </ul>
	</span>
    </div>
</div>
