<div class="section dark-about">
    <div class="indented-container center">
        <div class="col-md-8">
            <p><h1>Что такое Хардатон?</h1></p>
            <p style="text-align: right"><i>На небесах только и разговоров, что об Интернете Вещей!</i></p>

            <p>Интернет вещей — это когда утюг можно выключить с телефона, микроволновка подогревает еду к вашему приходу, а чайник присылает смску, когда закипает. Иначе говоря, когда вещи общаются с человеком и друг с другом через интернет — это и есть интернет вещей. За интернетом вещей будущее, и те, кто создаёт его сегодня, хватают будущее за хвост.</p>

            <p>Хардатон — это хакатон для железячников, строителей интернета вещей будущего. Задача участников — за 48 часов собрать работающее устройство. Тематика не ограничена, лишь бы оно управлялось по сети и делало что-то полезное (или бесполезное).</p>

            <p>Хардатон — это возможность поработать с профессиональным оборудованием, реализовать смелые идеи, найти единомышленников и пообщаться с экспертами в неформальной обстановке Сколково.</p>

</div>
    </div>
</div>
