<div class="section light devices">
    <div class="slide">
        <div class="indented-container">
            <img class="logo" src="./img/devices/arduino.png" alt="Arduino">
            <p>
                Arduino – открытая платформа основанная на интуитивно понятном аппаратном и программном обеспечении. На базе Arduino каждый может создать интерактивный объект - будь то робот, арт-инсталляция, или умный дом.
            </p>
        </div>
    </div>
    <div class="slide">
        <div class="indented-container">
            <img class="logo" src="./img/devices/ibeacon.png" alt="iBeacon">
            <p>
                iBeacon – протокол навигации внутри помещений, представленный компанией Apple. Технология iBeacon позволяет смартфонам, планшетам и другим устройствам ориентироваться в пространстве при отсутствии сигнала GPS.
            </p>
        </div>
    </div>
    <div class="slide">
        <div class="indented-container">
            <img class="logo" src="./img/devices/oculus.png" alt="Oculus">
            <p>
                Oculus Rift – очки виртуальной реальности от компании Oculus VR. Высокое разрешение (960×1080 на каждый глаз) OLED дисплей с низкой задержкой, высокая частота обновления, отслеживание положения, съемный кабель и нет необходимости во внешнем блоке управления.
            </p>
        </div>
    </div>
    <div class="slide">
        <div class="indented-container">
            <img class="logo" src="./img/devices/real_sense.png" alt="RealSense">
            <p>
                RealSense – человеко-машинный интерфейс на основе жестов рук, состоящий из нескольких 3D камер, работающих совместно с легкой в использовании библиотекой распознавания обьектов.
            </p>
        </div>
    </div>
    <div class="slide">
        <div class="indented-container">
            <img class="logo" src="./img/devices/leap_motion.png" alt="Leap Motion">
            <p>
                Leap Motion – небольшое настольное USB-устройство, создающее над собой 3D-область взаимодействия с пользователем. Leap Motion отслеживает движение пальцев и рук, карандашей, ручек или палочек для еды с высокой точностью.
            </p>
        </div>
    </div>
    <div class="slide">
        <div class="indented-container">
            <img class="logo" src="./img/devices/myo.png" alt="MYO">
            <p>
                 MYO – Контроллер управления жестами от Thalmic Labs. Браслет улавливает электрические импульсы от сокращения мышц руки и преобразует их в понятные команды для компьютера.
            </p>
        </div>
    </div>
    <div class="slide">
        <div class="indented-container">
            <img class="logo" src="./img/devices/kinect.png" alt="Kinect">
            <p>
                Kinect – бесконтактный сенсорный игровой контроллер. Kinect позволяет пользователю взаимодействовать с компьютером или игровой консолью без помощи джойстика, через устные команды, позы тела и показываемые объекты или рисунки.
            </p>
        </div>
    </div>
</div>
