<div class="section dark">
    <div class="indented-container">
        <h1>
            О хакатоне
        </h1>
        <p>
            На небесах только и разговоров, что об интернете вещей и носимых устройствах.
        </p>
        <p>
            Железный хакатон - это шанс разработать прототип своего проекта на стыке софта и железа за 48 часов.
        </p>
        <p>
            У тебя есть возможность поработать с оборудованием, которое трудно собрать в одном месте.
        </p>
    </div>
</div>
