<div class="section dark contacts">
    <div class="indented-container">
        <p>
            Жми большую оранжевую кнопку чтобы зарегистрироваться!
        </p>
        <a href="{{ "/register" | prepend: site.baseurl }}" type="button" class="btn btn-warning btn-lg">
            Зарегистрироваться!
        </a>
        <p class="top-buffer-60px">
            Будь активным участником обсуждений в наших социальных сетях.
        </p>
        <ul class="list-inline banner-social-buttons">
            {% for network in site.social %}
            <li>
                <a href="{{ network.url }}" class="btn btn-info btn-lg">
                    <i class="fa fa-{{ network.title }} fa-fw"></i>
                    <span class="network-name">
                        {{ network.title }}
                    </span>
                </a>
            </li>
            {% endfor %}
        </ul>
        <p class="top-buffer-60px">
            Хотите помочь проекту? Пишите <a class="btn-details" href="mailto:svtlniva@gmail.com">нам</a>!
        </p>
        <p class="top-buffer-60px">
            До встречи на хакатоне!
        </p><br><br><br>
	<h6 id=footer>При реализации проекта используются средства поддержки, выделенные в качестве гранта на основании конкурса,
<br> проведенного Общероссийской общественно-государственной просветительской организации «Российское общество «Знание»</h6>
    </div>
</div>
