<div class="section dark-how contacts">
    <div class="indented-container">
        <p class="top-buffer-60px">
            Будь активным участником обсуждений в наших социальных сетях.
        </p>
        <ul class="list-inline banner-social-buttons">
            {% for network in site.social %}
            <li>
                <a href="{{ network.url }}" class="btn btn-info btn-lg" target="_blank">
                    <i class="fa fa-{{ network.title }} fa-fw"></i>
                    <span class="network-name">
                        {{ network.title }}
                    </span>
                </a>
            </li>
            {% endfor %}
        </ul>
        <p class="top-buffer-60px">
            Хотите помочь проекту? <a class="btn-details" href="mailto:info@hardathon.ru">Пишите нам</a>!
        </p>
        <p class="top-buffer-60px">
            До встречи на Хардатоне!
        </p>
    </div>
</div>
