<div id="about5" class="section dark">
    <div class="indented-container">
        <div class="row">
            <div class="col-md-4"><p><b>Нужно ли нести с собой что-то из электроники?</b></p>
                <p>Основное оборудование будет предоставлено как командам,
                    так и отдельным участникам.
                    Если вам требуется что-то специфичное —
                    лучше позаботиться об этом заранее, чтобы не тратить время на поиск во время Хардатона.</p>
            </div>
            <div class="col-md-4"><p><b>Когда будет открыта регистрация?</b></p>
                <p>Мы планируем начать регистрацию в первых числах марта.</p>
                <p>Чтобы попасть на Хардатон, каждому участнику обязательно
                    нужно пройти регистрацию. Через личный кабинет будет формироваться
                список участников, команд и необходимого оборудования.</p>
            </div>
            <div class="col-md-4">
            <p><b>А поспать?</b></p>
            <p>Будет комфортное место и для сна. Как минимум, тёплые спальные
                мешки, пуфы и прочие удобства. Но, как показывает практика,
            сон во время Хардатона — явление редкое и не всегда обязательное.</p>



            </div>
        </div>
        <div class="row">
            <div class="col-md-4"><p><b>Будет ли трансфер до места проведения?</b></p>
                <p>Если Хардатон будет проходить чуть дальше, чем центр Москвы — несомненно.</p>
            </div>
            <div class="col-md-4"><p><b>А что насчёт еды?</b></p>
                <p>Для участников Хардатона будет организовано питание в течении
                    всего времени Хардатона. Голодным никто не останется.</p>
            </div>
            <div class="col-md-4">
                <p><b>Можно ли прийти с наработками проекта?</b></p>
                <p> Да, конечно! Разработка железа штука такая,
                    и если есть возможность начать наступать на
                    грабли заранее, то лучше ею воспользоваться.</p>
            </div>
        </div>
    </div>
</div>
