<div class="section dark-about">
    <div class="indented-container">
        <div class="row">
            <div class="col-md-6"><p class="text-justify"><b>Сколько стоит участие в Хардатоне?</b></p>
                <p>Участие в проекте абсолютно бесплатное!</p>
            </div>
            <div class="col-md-6"><p class="text-justify"><b>Как стать участником Хардатона?</b></p>
                <p>Все просто! Для этого необходимо пройти регистрацию. После регистрации тебе будет открыт доступ в личный кабинет, где будет формироваться список участников, команд и необходимого оборудования.</p>
            </div>
        </div>
            <div class="row">
                <div class="col-md-6"><p class="text-justify"><b>Нужно ли нести с собой что-то из электроники?</b></p>
                    <p>Основное оборудование будет предоставлено как командам, так и отдельным участникам. Если вам требуется что-то специфичное — лучше позаботиться об этом заранее, чтобы не тратить время на поиск во время Хардатона.</p>
                </div>
                <div class="col-md-6">
                    <p><b>Сколько человек можно взять в команду?</b></p>
                    <p class="text-justify">В среднем, команды формируются от 4 до 7 человек. Однако, ничто не мешает творить соло.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6"><p><b>Есть ли возможность переночевать в гостинице?</b></p>
                    <p class="text-justify">Конечно! Если ты обладаешь навыками эффективного тайм-менеджмента и считаешь, что успеешь комфортно выспаться и завершить работу над проектом, ты можешь забронировать гостиницу в районе метро «Славянский бульвар», к которому будет организован ежедневный трансфер.</p>
                </div>
                <div class="col-md-6">
                    <p><b>Можно ли прийти с наработками проекта?</b></p>
                    <p class="text-justify"> Да, конечно! Разработка железа штука такая,
                        и если есть возможность начать наступать на
                        грабли заранее, то лучше ею воспользоваться.</p>
                    </div>
                </div>
            </div>
        </div>
