<div class="section dark">
	<div class="indented-container">
		<form id="hardathonRegisterForm" action="https://localhost:4567/api/v1/sn" method="POST" target="hidden_iframe" onsubmit="submitted=true;">
			<h1 class="top-buffer-60px">Регистрация</h1>
			<p class="top-buffer-40px">Рады, что ты решил зарегистрироваться на Хардатон!</p>
			<p>После регистрации на твой Email придёт письмо со ссылкой на личный кабинет участника Хардатона и
			дальнейшими инструкциями.</p>
			<div class="form-group top-buffer-20px">
				<label class="control-label">Полное имя</label>
				<input type="text" name="hardathonUsername" form="hardathonRegisterForm" class="form-control" value=""
												  id="hardathonUsername" placeholder="Полное имя" style="max-width: 600px;">
			</div>
			<div class="form-group top-buffer-20px">
				<label class="control-label">Email</label>
				<input type="text" name="hardathonUserEmail" form="hardathonRegisterForm" class="form-control"	value=""
												   id="hardathonUserEmail" placeholder="Email" style="max-width: 600px;">
			</div>
			<input class="form-control" type="hidden" name="draftResponse" value="[,,&quot;-5515060556049491339&quot;]
			">

			<input class="form-control" type="hidden" name="pageHistory" value="0">

			<input class="form-control" type="hidden" name="fvv" value="0">

			<input class="form-control" type="hidden" name="fbzx" value="-5515060556049491339">

			<input class="form-control top-buffer-20px bottom-buffer-60px btn-warning" type="submit" name="submit" value="Зарегистрироваться" id="ss-submit" style="max-width: 300px;">
		</form>
	</div>
</div>
