<div class="section dark">
    <div class="indented-container">
        <div class="row">
            <div class="col-md-4"><h1>Что?</h1></div>
            <div class="col-md-4"><h1>Как?</h1></div>
            <div class="col-md-4"><h1>Кто?</h1></div>
        </div>
        <div class="row">
            <div class="col-md-4"><p>Всё начинается вечером пятницы.<p>
                        <p>Участники приезжают в место проведения, разбиваются
                            на команды. После презентации идей и проектов происходит
                            докомплектация команд и после этого участники отправляются
                            работать над проектом.</p>
                        <p> 48 часов проходят в режиме нон-стоп. В это время
                            участников будут консультировать приглашённые эксперты,
                            проводиться брифы промежуточных результатов. </p>
                        <p>Вечеро воскресенья — подведение итогов: финальная презентация и награждение выживших команд.</div>
                        <div class="col-md-4"><p>Участникам будет предложено:
                            <p>
                                <ul>
                                    <li>
                                        Оборудованные рабочие места
                                    </li>
                                    <li>
                                        Измерительное оборудование
                                    </li>
                                    <li>
                                        3D-принтеры
                                    </li>
                                    <li>
                                        Лазерные резаки
                                    </li>
                                    <li>
                                        Радиодетали и комплектующие
                                    </li>
                                    <li>
                                        Arduino, Raspberry Pi, esp8266
                                    </li>
                                    <li>
                                        И многое другое, необходимое для плодотворной
                                        работы над прототипом устройства
                                    </li>
                                </ul>
                            </p>
                            <p>Тематика Хардатона — Интернет Вещей. Для консультации
                                по технологиям будут приглашены эксперты и специалисты
                            компаний-Партнёров.</p>
                            <p></div>
                            <div class="col-md-4"><p>На Хардатоне работы хватает всем. В основном,
                                    в команды комплектуются из следующих специалистов: <p>
                            <p>
                                <ul>
                                    <li>
                                        Электронщики/схемотехники
                                    </li>
                                    <li>
                                        Системные программисты
                                    </li>
                                    <li>
                                        Программисты мобильных приложений
                                    </li>
                                    <li>
                                        Дизайнеры
                                    </li>
                                    <li>
                                        Верстальщики
                                    </li>
                                    <li>
                                        Люди с прямыми руками
                                    </li>
                                </ul>
                            </p>
                            <p>Зачастую команды формируются ещё до Хардатона.
                            Однако, состав команд часто меняется на протяжении
                            всего Хардатона. Даже если вы пришли один, вы можете
                            либо найти команду, либо сформировать её самим.

                                    </div>
        </div>
    </div>
</div>
