<div class="section dark-how">
    <div class="indented-container">
        <div class="row">
            <div class="col-md-6"><h1>Как?</h1><p>Всё начинается вечером пятницы.<p>
                        <p class="text-justify">Участники приезжают в место проведения, разбиваются
                            на команды. После презентации идей и проектов происходит
                            докомплектация команд и после этого участники отправляются
                            работать над проектом.</p>
                        <p class="text-justify"> 48 часов проходят в режиме нон-стоп. В это время
                            участников будут консультировать приглашённые эксперты,
                            проводиться брифы промежуточных результатов. </p>
                        <p>Вечер воскресенья — подведение итогов: финальная презентация и награждение выживших команд.</div>
                            <div class="col-md-6"><h1>Кто?</h1><p class="text-justify">На Хардатоне работы хватает всем. В основном,
                                    в команды комплектуются из следующих специалистов: <p>
                            <p class="text-justify">
                                <ul>
                                    <li>
                                        Электронщики/схемотехники
                                    </li>
                                    <li>
                                        Системные программисты
                                    </li>
                                    <li>
                                        Программисты мобильных приложений
                                    </li>
                                    <li>
                                        Дизайнеры
                                    </li>
                                    <li>
                                        Верстальщики
                                    </li>
                                    <li>
                                        Люди с прямыми руками
                                    </li>
                                </ul>
                            </p>
                            <p class="text-justify">Зачастую команды формируются ещё до Хардатона.
                            Однако состав команд часто меняется на протяжении
                            всего Хардатона. Даже если вы пришли один, вы можете
                            либо найти команду, либо сформировать её самим.

                                    </div>
        </div>
    </div>
    </div>
</div>
