<div class="section intro">
    <div class="indented-container">
        <img class="logo" src="/img/hardathon.png" alt="logo">
        <p class="top-buffer-40px">
            &nbsp;Создай прототип за 48 часов
	</p>
        <a href="{{ "/register" | prepend: site.baseurl }}" type="button" class="btn btn-warning btn-lg top-buffer-40px">
            Зарегистрироваться!
        </a>
        <br/>
        <a type="button" class="btn btn-link btn-lg btn-details top-buffer-80px move-section-down">
            Подробнее
        </a>
    </div>
</div>
