<nav id="menu" class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
					       data-target=".navbar-collapse">
				<span class="sr-only">Убрать навигацию</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				{% if page.layout == 'default' %}
				{% 	include navbar/main_active.html %}
				{% else %}
				{% 	include navbar/main.html %}
				{% endif %}
				<li data-menuanchor="about"><a href="/#about" class="btn btn-link">О Хардатоне</a></li>
				<li data-menuanchor="how"><a href="/#how" class="btn btn-link">Что и как?</a></li>
				<li data-menuanchor="where"><a href="/#where" class="btn btn-link">Когда и где?</a></li>
				<li data-menuanchor="faq"><a href="/#faq" class="btn btn-link">Вопросы и ответы</a></li>
				<li data-menuanchor="contacts"><a href="/#contacts" class="btn btn-link">Контакты</a></li>
			</ul>
		</div>
	</div>
</nav>
