 <!-- jQuery Version 1.11.0 -->
<script src="{{ "/js/jquery.js" | prepend: site.baseurl }}"></script>

<script src="{{ "/js/jquery.validate.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

<!-- Retina JS -->
<script src="{{ "/js/retina.js" | prepend: site.baseurl }}"></script>

<!-- Fullpage -->
<script src="{{ "/js/fullpage/jquery.fullpage.js" | prepend: site.baseurl }}"></script>

<!-- Mine -->
<script src="{{ "/js/hardathon-other.js" | prepend: site.baseurl }}"></script>
