<div class="section about2s"><center>
    <div class="indented-container">
        <p>
            <h1>Воу!</h1>
        </p>
        <p>
            Ты успешно зарегистрирован на Хардатоне.
        </p>
        <p>
            На почтовый адрес, указанный при регистрации, через пару минут придёт
            письмо
            с дальнейшими инструкциями, ссылкой на личный кабинет и паролем. Если письмо не пришло в течении 10 минут — посмотри папку "Спам". Если ВДРУГ не пришло и после этого, напиши на info@hardathon.ru и мы разберёмся.
        </p>
        <p>
            Ждём тебя 21 апреля!
        </p>
    </div>
</center>
</div>
