<div class="section light">
	<div class="indented-container">
		<center>
			<h1 class="top-buffer-80px">HARDATHON</h1>
			<h2>участники</h2>
		</center>

		<div class="containter">
		<div class="row">
			<div class="col-md-3">
				<div style="border-radius: 17px; padding: 10px 10px 10px 10px;" class="h-radius col-md-12">
				<div class="col-md-5">
					<object id="graph" name="graph" type="image/svg+xml" data="img/unnamed_team.svg"
						width="100%" height="100%"></object>
				</div>
				<div class="col-md-7">
				<p> Команда<br> Проект<br> Нам нужен! </p>
				</div>
				</div>
			</div>
			<div class="col-md-3">
				<div style="border-radius: 17px; padding: 10px 10px 10px 10px;" class="h-radius col-md-12">
				<div class="col-md-5">
					<object id="graph" name="graph" type="image/svg+xml" data="img/unnamed_team.svg"
						width="100%" height="100%"></object>
				</div>
				<div class="col-md-7">
				<p> Команда<br> Проект<br> Нам нужен! </p>
				</div>
				</div>
			</div>
			<div class="col-md-3">
				<div style="border-radius: 17px; padding: 10px 10px 10px 10px;" class="h-radius col-md-12">
				<div class="col-md-5">
					<object id="graph" name="graph" type="image/svg+xml" data="img/unnamed_team.svg"
						width="100%" height="100%"></object>
				</div>
				<div class="col-md-7">
				<p> Команда<br> Проект<br> Нам нужен! </p>
				</div>
				</div>
			</div>
			<div class="col-md-3">
				<div style="border-radius: 17px; padding: 10px 10px 10px 10px;" class="h-radius col-md-12">
				<div class="col-md-5">
					<object id="graph" name="graph" type="image/svg+xml" data="img/unnamed_team.svg"
						width="100%" height="100%"></object>
				</div>
				<div class="col-md-7">
				<p> Команда<br> Проект<br> Нам нужен! </p>
				</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div style="border-radius: 17px; padding: 10px 10px 10px 10px;" class="h-radius col-md-12">
				<div class="col-md-4">
					<object id="graph" name="graph" type="image/svg+xml" data="img/unnamed_team.svg"
						width="100%" height="100%"></object>
				</div>
				<div class="col-md-4">
				</div>
				<div class="col-md-8">
				<p> Команда<br> Проект<br> Нам нужен! </p>
				</div>
				</div>
			</div>
			<div class="col-md-4">
				<div style="border-radius: 17px; padding: 10px 10px 10px 10px;" class="h-radius col-md-12">
				<div class="col-md-4">
					<object id="graph" name="graph" type="image/svg+xml" data="img/unnamed_team.svg"
						width="100%" height="100%"></object>
				</div>
				<div class="col-md-4">
				</div>
				<div class="col-md-8">
				<p> Команда<br> Проект<br> Нам нужен! </p>
				</div>
				</div>
			</div>
			<div class="col-md-4">
				<div style="border-radius: 17px; padding: 10px 10px 10px 10px;" class="h-radius col-md-12">
				<div class="col-md-4">
					<object id="graph" name="graph" type="image/svg+xml" data="img/unnamed_team.svg"
						width="100%" height="100%"></object>
				</div>
				<div class="col-md-4">
				</div>
				<div class="col-md-8">
				<p> Команда<br> Проект<br> Нам нужен! </p>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>
