<div id="about5" class="section light text-center">
    <div class="indented-container">
<p>
Мы благодарим нашего партнера, активно принимавшего участие в организации Hardware Hackathon, компанию РуГаджет. 
</p>
<p>
РуГаджет - исследовательская лаборатория, специализирующаяся на разработке технологичных электронных устройств, персональных гаджетах и специализированных приборах. 
</p>
<p>
Команда РуГаджета - это программисты, инженеры-электронщики, системотехники, дизайнеры, работающие с самыми современными технологиями.        
</p>
    </div>
</div>
