<div class="section dark contacts">
    <div class="indented-container">
        <p>
            Мы хотим поблагодарить одного из наших партнеров - компанию АО "Рестрим", сотрудники которой активно участвовали в организации Hardware Hackathon.
</p>
<p>
В компании "Рестрим" работают молодые и талантливые ребята, которые занимаются обработкой и ретрансляцией видеопотоков в условиях высокой нагрузки, разработкой технологий анализа видеоизображения, организацией систем мониторинга и видеонаблюдения, аналитикой существующих веб-проектов, их переработкой и редизайном, улучшением юзабилити и повышением конверсии, полным циклом работ по созданию новых веб-проектов, организацией и проведением рекламных кампаний для продвижения ресурсов.
</p>
<p>
Поэтому, если вы тоже хотите делать крутые вещи каждый день, работайте в "Рестрим"!
<a href=http://restream.rt.ru>http://restream.rt.ru</a>
</p>
</div>
</div>
