<div id="about5" class="section dark-where">
    <div class="indented-container">
        <div class="col-md-6">
            <h1>Как до нас добраться</h1>
            <p>1. Общественным транспортом от станций метро «Славянский Бульвар», «Кунцевская» и «Киевская»
</p>

<p>2. От ж/д станции «Трехгорка»
Маршрутное такси (дневной интервал 1 час) <p>

<p>До ж/д станции «Трехгорка» можно добраться:</p>

    <p>электричкой от Белорусского вокзала (40 мин)
    городскими автобусами №339, №418, №477 и маршрутным такси №139,
    от ст. м. «Киевская», «Парк победы», «Славянский бульвар», «Кутузовская», «Филевский парк».</p>

        </div>
        <div class="col-md-6"><h1>21—23 апреля 2017</h1>
            <p>Адрес:</p>
<p>Сколковский институт науки и технологий
<br>Территория Инновационного Центра “Сколково”, улица Нобеля, д. 3
<br>Москва 143026
<br>Россия </p>
        </div>
    </div>
</div>
