<!DOCTYPE html>
<html>
	<meta name="viewport" content="width=device-width, user-scalable=false;">
    {% include head.html %}
    <body>
        {% include navbar.html %}
        <div id="fullpage">
            {% include intro.html %}
            {% include about.html %}
            {% include about2.html %}
            {% include about5.html %}
            {% include about6.html %}
            {% include contacts.html %}
            {% include default-js.html %}
            {% include form.html %}
        </div>
    </body>
</html>
